<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Welcome to Neighbox!</h1>
    <p>Don't throw away your packaging - gift it!</p>
    <%= link_to "Find a box", items_path, class: "btn btn-flat" %>
    <%= link_to "List a box", new_item_path, class: "btn btn-flat" %>
  </div>
</div>
