<div class="form-container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>List an Item</h1>
      <%= render 'form', item: @item %>
      <%= link_to "Cancel", items_path %>
    </div>
  </div>
</div>
